<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDBNsxJCCeB2HYmPixz8NA71c-PQBqEfhY</string>
	<key>GCM_SENDER_ID</key>
	<string>746576505180</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.storytales.storytales</string>
	<key>PROJECT_ID</key>
	<string>storytales-21ccd</string>
	<key>STORAGE_BUCKET</key>
	<string>storytales-21ccd.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<true></true>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:746576505180:ios:a334c172dedf5c76f87999</string>
</dict>
</plist>
